
body {
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0;      
}

.form-container {
    width: 400px;           
    margin: 50px auto;      
    padding: 20px;          
    background-color: white; 
    border: 1px solid #ccc; 
}


h2 {
    text-align: center; 
    color: #333;        
}


.form-group {
    margin-bottom: 15px; 
}


label {
    display: block;      
    font-weight: bold;   
    margin-bottom: 5px;  
}


input {
    width: 100%;            
    padding: 8px;           
    border: 1px solid gray; 
    box-sizing: border-box; 
}


.reg-button {
    width: 100%;          
    padding: 10px;         
    background-color: rgb(255, 51, 0); 
    color: white;          
    border: none;           
    cursor: pointer;        
}



.reg-button:hover {
    background-color: rgb(255, 208, 0);
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px; 
    box-sizing: border-box;
    display: block;
    font-family: inherit; 
}


textarea {
    resize: vertical; 
}