
body {
    font-family: Arial, sans-serif; 
    line-height: 1.6;
    margin: 0;
    background-color: #f4f4f4; 
    color: #333; 
}



.container {
    width: 80%;
    margin: 0 auto; 
    overflow: hidden;
}


.main-header {
    background-color: #2c3e50; 
    color: #fff; 
    padding-top: 30px;
    border-bottom: 5px solid #e8491d; 
    min-height: 100px;
    text-align: center;
}

.main-header h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
}


.hero-section {
    background-color: #ffffff;
    padding: 50px 0; 
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.hero-section h2 {
    color: #e8491d; 
    font-size: 2.5em;
    margin-bottom: 10px;
}


.btn {
    display: inline-block;
    background: #e8491d;
    color: #fff;
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    margin-top: 20px;
    border: 2px solid #e8491d;
}


.btn:hover {
    background: #fff;
    color: #e8491d;
}


.info-section {
    padding: 20px;
    background-color: #e2e2e2;
}

.content-box {
    background: white;
    padding: 20px;
    border: 1px solid #ccc; 
    margin-top: 15px;
}

ul {
    margin-left: 20px;
}


.main-footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}